h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carousel > div {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
}

.carousel img {
  max-width: 500px;
  height: auto;
  object-fit: cover;
  scroll-snap-stop: always;
}

.carousel .prev {
  order: -1;
}

.carousel .next {
  order: 1;
}
